name: "GoDaddy Dynamic DNS"
description: "Periodically updates GoDaddy DNS records from the local network via API"
version: "0.1.2"
slug: "godaddy_dynamicdns"
stage: experimental
init: false
arch: [ 'aarch64', 'amd64', 'armhf', 'armv7', 'i386' ]
apparmor: true

options:
  godaddy_api_key: null
  godaddy_api_secret: null
  domain_name: null
  record_name: null
schema:
  godaddy_api_key: str
  godaddy_api_secret: password
  domain_name: str
  record_name: str